- pageTitle= "Welcome on Acrostia!"
doctype html
html(lang="fr")
  head
    title= pageTitle
    link(rel="stylesheet", href="assets/css/main.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Damion")
  body
    h1 Jade - node template engine
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.testdaz