include header
#services.section
	.bg
	.global
		+header('services')
		h1 Our Services
		p.subtitle 
			| Cras commodo mattis justo nec 
			span.special lobortis
			| . Nam ut tellus lobortis, ullamcorper massa sit amet
		p.short-desc Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.

		article.bloc
			.box
				img(src="assets/img/ico_reserch.svg", alt="Researchement")
				h2 Researching
				p Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.

		article.bloc
			.box
				img(src="assets/img/ico_design.svg", alt="Design")
				h2 Design
				p Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.

		article.bloc
			.box
				img(src="assets/img/ico_development.svg", alt="Development")
				h2 Development
				p Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.

		article.bloc
			.box
				img(src="assets/img/ico_launch.svg", alt="Launch")
				h2 Launch
				p Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.