include _header
#about.section
	.bg
	.global
		+header('about')
		h1 Who we are & what we do
		p.short-desc Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.

		.meet-the-team Meet the team

		article.bloc
			.box
				img(class="svg", src="public/img/ico_person.svg", alt="Anton Petron")
				h2 Anton Petron
				p.job General Manager
				.social-links
					.facebook
						img(class="svg", src="public/img/ico_facebook.svg", alt="facebook")
					.twitter
						img(class="svg", src="public/img/ico_twiter.svg", alt="twitter")
					.google-plus
						img(class="svg", src="public/img/ico_g+.svg", alt="google +")
					.linked-in
						img(class="svg", src="public/img/ico_lin.svg", alt="linked in")

		article.bloc
			.box
				img(class="svg", src="public/img/ico_person.svg", alt="Kirl Donshev")
				h2 Kirl Donshev
				p.job Design Master
				.social-links
					.facebook
						img(class="svg", src="public/img/ico_facebook.svg", alt="facebook")
					.twitter
						img(class="svg", src="public/img/ico_twiter.svg", alt="twitter")
					.google-plus
						img(class="svg", src="public/img/ico_g+.svg", alt="google +")
					.linked-in
						img(class="svg", src="public/img/ico_lin.svg", alt="linked in")

		article.bloc
			.box
				img(class="svg", src="public/img/ico_person.svg", alt="Ilian Bonev")
				h2 Ilian Bonev
				p.job Developper Ninja
				.social-links
					.facebook
						img(class="svg", src="public/img/ico_facebook.svg", alt="facebook")
					.twitter
						img(class="svg", src="public/img/ico_twiter.svg", alt="twitter")
					.google-plus
						img(class="svg", src="public/img/ico_g+.svg", alt="google +")
					.linked-in
						img(class="svg", src="public/img/ico_lin.svg", alt="linked in")

		article.bloc
			.box
				img(class="svg", src="public/img/ico_person.svg", alt="Doni Stamov")
				h2 Doni Stamov
				p.job SEO guru
				.social-links
					.facebook
						img(class="svg", src="public/img/ico_facebook.svg", alt="facebook")
					.twitter
						img(class="svg", src="public/img/ico_twiter.svg", alt="twitter")
					.google-plus
						img(class="svg", src="public/img/ico_g+.svg", alt="google +")
					.linked-in
						img(class="svg", src="public/img/ico_lin.svg", alt="linked in")