include _header
#about.section
	.bg
	.global
		+header('about')
		h1(data-sr="enter from the top and hustle 50px over 1s") Who we are & what we do
		p.short-desc(data-sr="enter from the bottom and hustle 20px over 0.5s wait 0.5s") Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.

		.meet-the-team(data-sr="enter from the top and hustle 50px over 1s wait 0.8s") Meet the team

		article.bloc(data-sr="enter from the top and hustle 50px over 1s")
			.box
				img(class="svg", src="public/img/ico_person.svg", alt="Anton Petron")
				h2 Anton Petron
				p.job General Manager
				.social-links
					.facebook
						img(src="public/img/facebook.png", alt="facebook")
					.twitter
						img(src="public/img/twit.png", alt="twitter")
					.google-plus
						img(src="public/img/g+.png", alt="google +")
					.linked-in
						img(src="public/img/lin.png", alt="linked in")

		article.bloc(data-sr="enter from the bottom and hustle 50px over 1s wait 0.2s")
			.box
				img(class="svg", src="public/img/ico_person.svg", alt="Kirl Donshev")
				h2 Kirl Donshev
				p.job Design Master
				.social-links
					.facebook
						img(src="public/img/facebook.png", alt="facebook")
					.twitter
						img(src="public/img/twit.png", alt="twitter")
					.google-plus
						img(src="public/img/g+.png", alt="google +")
					.linked-in
						img(src="public/img/lin.png", alt="linked in")

		article.bloc(data-sr="enter from the top and hustle 50px over 1s wait 0.4s")
			.box
				img(class="svg", src="public/img/ico_person.svg", alt="Ilian Bonev")
				h2 Ilian Bonev
				p.job Developper Ninja
				.social-links
					.facebook
						img(src="public/img/facebook.png", alt="facebook")
					.twitter
						img(src="public/img/twit.png", alt="twitter")
					.google-plus
						img(src="public/img/g+.png", alt="google +")
					.linked-in
						img(src="public/img/lin.png", alt="linked in")

		article.bloc(data-sr="enter from the bottom and hustle 50px over 1s wait 0.6s")
			.box
				img(class="svg", src="public/img/ico_person.svg", alt="Doni Stamov")
				h2 Doni Stamov
				p.job SEO guru
				.social-links
					.facebook
						img(src="public/img/facebook.png", alt="facebook")
					.twitter
						img(src="public/img/twit.png", alt="twitter")
					.google-plus
						img(src="public/img/g+.png", alt="google +")
					.linked-in
						img(src="public/img/lin.png", alt="linked in")