include _header
#contacts.section
	.bg
	.global
		+header('contacts')
		h1 Contact us
		p.short-desc Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.

		.address
			h3 Address
			address
				span.society Acrostia
				| Sevenoaks Rd
				br
				| Sevenoaks TN14 7HR, UK
			p.coord(data-sr="wait 0.2s then scale up 30% reset")
				span.type Phone:
				a(href="tel:+44555555555") +44 555 555 555
			p.coord(data-sr="wait 0.4s then scale up 25% reset")
				span.type Fax:
				a(href="tel:+44555555555") +44 555 555 555
			p.coord(data-sr="wait 0.6s then scale up 20% reset")
				span.type E-mail:
				a(href="mailto:info@acrostia.com") info@acrostia.com
			p.coord(data-sr="wait 0.8s then scale up 15% reset")
				span.type Skype:
				a(href="callto:+44555555555") AcOstia  

		.form
			h3 Ask a question
			form#contact-form
				.input-wrap
					input(type="text", placeholder="Name")
				.input-wrap.padding-right-null
					input(type="text", placeholder="Surname")
				textarea(placeholder="Your question")
				input(type="submit", value="SEND")

		footer