 /* ========================================================== */
 /* = Services module                                        = */
 /* ========================================================== */

#services {
	.bg {
		background: url("../img/bg_services.png");
	}

	article.bloc {
		.column(3);
		overflow: hidden;
		.box {
			text-align: center;
			padding: 2em 1em .3em;
			background-color:  rgba(200, 83, 90, 0.8);
			.border-radiuses(5px, 5px, 5px, 5px);
		}
	}
}